.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.timer{
  display: flex;
  justify-content: space-around;
}

span{
  margin: 0;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 40px;
  
  
}

button{
  font-size: 20px;
  margin-right: 5px;
}